.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 2%;
    
}

.filter{
    display: flex;
    margin-left: 35%;
    margin-top: 2px;
    width: 150px;

}
